@page "/reservations"
<div>
	<div class="row"><h3 style="text-align:center">Reservation Finder</h3></div>
	<div class="row mt-2 g-3">
		<div class="col-4">Code:</div>
		<div class="col-4">Airline:</div>
		<div class="col-4">Name:</div>
	</div>
	<div class="row  g-3">
		<div class="col-4">
			<input type="text" class="form-control" id="from" placeholder="Code">
		</div>
		<div class="col-4">
			<input type="text" class="form-control" id="to" placeholder="Airline">
		</div>
		<div class="col-4 ">
			<input type="text" class="form-control" id="date" placeholder="Name">
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-3 ">
			<button type="button" class="btn btn-secondary" style="width:14em">Find Reservations</button>
		</div>
	</div>
	<div class="row mt-4"><h3 style="text-align:center">Reservations</h3></div>
	<div class="row mt-2 g-3">
		<div class="col-sm mb-3">
			<input type="text" class="form-control" id="flights" placeholder="Loading...">
		</div>
	</div>
	<div class="row mt-4"><h3 style="text-align:center">Reserve</h3></div>
	<div class="row mt-2  g-3">
		<div class="col-6">Reservation Code:</div>
		<div class="col-6">Flight Code:</div>
	</div>
	<div class="row">
		<div class="col-6">
			<input type="text" class="form-control" id="flights" placeholder="Reservation Code">
		</div>
		<div class="col-6">
			<input type="text" class="form-control" id="flights" placeholder="Flight Code">
		</div>
	</div>
	<div class="row mt-3  g-3">
		<div class="col-6">Airline:</div>
		<div class="col-6">Cost:</div>
	</div>
	<div class="row">
		<div class="col-6">
			<input type="text" class="form-control" id="flights" placeholder="Airline">
		</div>
		<div class="col-6">
			<input type="text" class="form-control" id="flights" placeholder="Cost">
		</div>
	</div>
	<div class="row mt-3  g-3">
		<div class="col-6">Name:</div>
		<div class="col-6">Citizenship:</div>
	</div>
	<div class="row">
		<div class="col-6">
			<input type="text" class="form-control" id="flights" placeholder="Name">
		</div>
		<div class="col-6">
			<input type="text" class="form-control" id="flights" placeholder="Citizenship">
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-6">Status:</div>
	</div>
	<div class="row mt-2">
		<div class="col-6">
			<input type="text" class="form-control" id="flights" placeholder="Status">
			
		</div>
		<div class="col-6"><button type="button" class="btn btn-success" style="width:15em">Save</button></div>
	</div>
	<div class="row mt-4">
		<div class="col-5"></div>
		
	</div>

</div>

@code {

}
